networks:
  chatnet:
    driver: bridge

services:
  node1:
    build: .
    hostname: node1
    networks: [chatnet]
    environment:
      NODE_ID: node1
      HTTP_ADDR: ":8081"
      RAFT_ADDR: "node1:12001" 
      BOOTSTRAP: "true"
      GROUP_ID: "general"
    ports:
      - "8081:8081"
      - "12001:12001"
    volumes:
      - node1-data:/data

  node2:
    build: .
    hostname: node2
    networks: [chatnet]
    environment:
      NODE_ID: node2
      HTTP_ADDR: ":8082"
      RAFT_ADDR: "node2:12002"
      JOIN_ADDR: "http://node1:8081"
      GROUP_ID: "general"
    ports:
      - "8082:8082"
      - "12002:12002"
    depends_on: [node1]
    volumes:
      - node2-data:/data

  node3:
    build: .
    hostname: node3
    networks: [chatnet]
    environment:
      NODE_ID: node3
      HTTP_ADDR: ":8083"
      RAFT_ADDR: "node3:12003"
      JOIN_ADDR: "http://node1:8081"
      GROUP_ID: "general"
    ports:
      - "8083:8083"
      - "12003:12003"
    depends_on: [node1]
    volumes:
      - node3-data:/data

  node4:
    profiles: ["extra"]
    build: .
    hostname: node4 
    networks: [chatnet]
    environment:
      NODE_ID: node4
      HTTP_ADDR: ":8084"
      RAFT_ADDR: "node4:12104" 
      GROUP_ID: ""
    ports:
      - "8084:8084" 
      - "12104:12104"
    tmpfs:
      - /data:rw,size=64m,mode=777 
    
  node5:
    profiles: ["extra"]
    build: .
    hostname: node5 
    networks: [chatnet]
    environment:
      NODE_ID: node5
      HTTP_ADDR: ":8085"
      RAFT_ADDR: "node5:12105"    
      GROUP_ID: ""
    ports:
      - "8085:8085" 
      - "12105:12105" 
    tmpfs:
      - /data:rw,size=64m,mode=777

volumes:
  node1-data:
  node2-data:
  node3-data:

