networks:
  chatnet:
    driver: bridge

services:
  node1:
    build: .
    hostname: node1
    networks: [chatnet]
    environment:
      NODE_ID: node1
      HTTP_ADDR: ":8081"
      RAFT_ADDR: "node1:12001"   # 可通告地址
      BOOTSTRAP: "true"
    ports:
      - "8081:8081"
      - "12001:12001"
    volumes:
      - ./data/node1:/data

  node2:
    build: .
    hostname: node2
    networks: [chatnet]
    environment:
      NODE_ID: node2
      HTTP_ADDR: ":8082"
      RAFT_ADDR: "node2:12002"
      JOIN_ADDR: "http://node1:8081"
    ports:
      - "8082:8082"
      - "12002:12002"
    depends_on: [node1]
    volumes:
      - ./data/node2:/data

  node3:
    build: .
    hostname: node3
    networks: [chatnet]
    environment:
      NODE_ID: node3
      HTTP_ADDR: ":8083"
      RAFT_ADDR: "node3:12003"
      JOIN_ADDR: "http://node1:8081"
    ports:
      - "8083:8083"
      - "12003:12003"
    depends_on: [node1]
    volumes:
      - ./data/node3:/data
